node_modules/
*.streamDeckPlugin
build/
fyi.oz.yet-another-window-resizer.sdPlugin/window.node
.DS_Store
fyi.oz.yet-another-window-resizer.sdPlugin/bin/
fyi.oz.yet-another-window-resizer.sdPlugin/logs/
